{% extends 'base.html' %}

{% block main %}

        <section class="content-container-diagnosis">
            <h1>Diagnosis of Disease</h1>
            <div class="container-diagnosis">

                <!--Lungs Disease card-1-->
                <div class="card">
                    <img src="{{url_for('static', filename='assest/LUNG-DISEASE.jpg')}}" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Lungs Disease</div>
                        <div class="card-description">Our advanced lung detection model employs cutting-edge technology
                            to analyze and identify potential issues within the respiratory system. From detecting
                            infections to assessing lung capacity, this tool provides comprehensive insights for better
                            respiratory health.</div>
                        <button class="predict-button"><a href="/upload/lungs">Predict</a></button>
                    </div>
                </div>
                <!-- Skin Disease Card 2 -->
                <div class="card">
                    <img src="{{url_for('static', filename='assest/skin disease.jpg')}}" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Skin Disease</div>
                        <div class="card-description">Experience the future of dermatological diagnosis with our skin
                            detection model. Whether you're concerned about acne, rashes, or other skin conditions, our
                            model utilizes state-of-the-art algorithms to analyze images and provide accurate
                            assessments for a healthier complexion.</div>
                        <button class="predict-button"><a href="/upload/skin">Predict</a></button>
                    </div>
                </div>
                <!-- Brain Disease Card 3 -->
                <div class="card">
                    <img src="{{url_for('static', filename='assest/brain disease.jpg')}}" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Brain Disease</div>
                        <div class="card-description">Unlock the mysteries of brain health with our brain detection
                            model. From identifying anomalies in brain scans to assessing cognitive function, our tool
                            offers a thorough analysis for a better understanding of neurological well-being.</div>
                        <button class="predict-button"><a href="/upload/brain">Predict</a></button>
                    </div>
                </div>
                <!-- Diabetes Disease Card 4 -->
                <div class="card">
                    <img src="{{url_for('static', filename='assest/diabetes disease.jpg')}}" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Diabetes Disease</div>
                        <div class="card-description">Take control of your health with our diabetes detection model. By
                            analyzing key indicators, such as blood sugar levels and other relevant factors, our model
                            provides valuable insights to help manage and monitor diabetes effectively.</div>
                        <button class="predict-button"><a href="/diabetes">Predict</a></button>
                    </div>
                </div>
                <!-- Card 5 -->
                <div class="card">
                    <img src="{{url_for('static', filename='assest/heart disease.jpg')}}" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Heart Disease</div>
                        <div class="card-description">Ensure a strong and healthy heart with our cardiac detection
                            model. From assessing heart rate variability to detecting potential cardiac issues, this
                            tool is designed to provide essential information for cardiovascular well-being.</div>
                        <button class="predict-button" ><a href="/heart">Predict</a></button>
                    </div>
                </div>
                <!-- Card 6 -->
                
            </div>
        </section>


    </main>
    <script>
        function redirectToPredictionPage() {
            window.location.href = '/upload';
        }
        
        function redirectToHeartPage() {
            window.location.href = '/heart';
        }
    </script>
    <script src="{{url_for('static', filename='scipt.js')}}"></script>
    {% endblock %}
