<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Image Predictor</title>
    <link rel="stylesheet" href="{{url_for('static', filename='upload.css')}}">
</head>

<body>
    <button class="back-button" onclick="goBack()">Back</button>
    <header>
        <h1>{{disease}} Disease Predictor</h1>
        <p>Upload an image to predict diseases using our machine learning model.</p>
    </header>
    <main>
        <form id="uploadForm" enctype="multipart/form-data" action="/predict/{{disease}}" method="post">
            <input type="file" name="image" accept="image/*" onchange="previewImage(event)" />
            <button type="submit" class="btn">Predict</button>
        </form>
        <div id="result"></div>
        <img id="preview-image" alt="Preview" src="#" style="width: 300px; height: auto;"/>
    </main>
    <footer>
        <p>Powered by Medical Website</p>
    </footer>
    <script src="{{url_for('static', filename='upload.js')}}">
    </script>
</body>

</html>
